<template>
  <div class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="alert alert-warning" role="alert">Productos</h2>
          <ul class="list-group">
            <li @click="item.cantidad++" class="list-group-item d-flex justify-content-between align-items-center" v-for="item of comida" :key="item.id">
              <div>
                {{item.producto}} <span class="badge badge-primary badge-pill">Precio: {{item.precio}}$</span>
              </div>

              <div>
                <span class="badge badge-success badge-pill">Cantidad: {{item.cantidad}}</span>
                <button type="button" class="btn btn-danger" @click="item.cantidad--">-</button>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <h2 class="alert alert-warning" role="alert">Factura</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex' ;

  export default {
    name: 'titulo',
    computed:{
      ...mapState(['comida'])
    }
  }
</script>
