<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <titulo></titulo>
  <productos></productos>
</template>

<script>
import Productos from './components/productos.vue'
import titulo from './components/titulo.vue'

export default {
  name: 'App',
  components: {
    titulo,
    Productos
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
